# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# VS Code
.vscode/

# Temporary files
*.log
*.pot
*.pyc
__pycache__/

# Text backup files
*.bak

# Database
*.sqlite3
